workflows/Compose reply draft in Gmail with OpenAI Assistant.json
{
  "name": "Compose reply draft in Gmail with OpenAI Assistant",
  "nodes": [
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const encoded = Buffer.from($json.raw).toString('base64');\n\nreturn { encoded };"
      },
      "id": "efc2c11c-85af-46db-b3e1-620547276c24",
      "name": "Convert raw to base64",
      "type": "n8n-nodes-base.code",
      "position": [
        1856,
        192
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/gmail/v1/users/me/drafts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "gmailOAuth2",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"message\":{\"raw\":\"{{ $json.encoded }}\", \"threadId\": \"{{ $('Map fields for further processing').item.json[\"threadId\"] }}\"}}",
        "options": {}
      },
      "id": "d7cb858b-8889-4fdb-a0fd-1f6c1b66aecb",
      "name": "Add email draft to thread",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2128,
        192
      ],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "removeLabels",
        "threadId": "={{ $('Map fields for further processing').item.json[\"threadId\"] }}"
      },
      "id": "73bf5379-69f2-4c47-b946-8f285a4742b6",
      "name": "Remove AI label from email",
      "type": "n8n-nodes-base.gmail",
      "position": [
        2368,
        192
      ],
      "typeVersion": 2.1,
      "webhookId": "5a8e228c-d57a-45e5-a396-cf57cee749c3"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "id": "8bf6fd68-7093-4cfc-aad9-0318752869d0",
      "name": "Schedule trigger (1 min)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -512,
        192
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a77b2d79-1e70-410c-a657-f3d618154ea1",
              "name": "response",
              "type": "string",
              "value": "={{ $json.output }}"
            },
            {
              "id": "20850cac-f82c-4f02-84f0-3de31871a5b8",
              "name": "threadId",
              "type": "string",
              "value": "={{ $('Get single message content').item.json[\"threadId\"] }}"
            },
            {
              "id": "d270c18e-39a0-4d87-85f0-cc1ffc9c10ff",
              "name": "to",
              "type": "string",
              "value": "={{ $('Get single message content').item.json[\"from\"][\"text\"] }}"
            },
            {
              "id": "30acb50b-bdde-44bf-803c-76e0ae65f526",
              "name": "subject",
              "type": "string",
              "value": "={{ $('Get single message content').item.json[\"subject\"] }}"
            },
            {
              "id": "88914536-8c25-4877-8914-feab5e32fae3",
              "name": "messageId",
              "type": "string",
              "value": "={{ $('Get threads with specific labels').item.json[\"id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "dcd59d01-38d1-48f9-a1b4-7465733d8c92",
      "name": "Map fields for further processing",
      "type": "n8n-nodes-base.set",
      "position": [
        1168,
        192
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $json.response }}",
        "destinationKey": "response",
        "options": {
          "simpleLineBreaks": false
        }
      },
      "id": "dafc4d45-3b7c-494f-b186-5c4c31d9fbae",
      "name": "Convert response to HTML",
      "type": "n8n-nodes-base.markdown",
      "position": [
        1408,
        192
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "913e9cb1-10de-4637-bf48-40272c7c7fe3",
              "name": "raw",
              "type": "string",
              "value": "=To: {{ $json.to }}\nSubject: {{ $json.subject }}\nContent-Type: text/html; charset=\"utf-8\"\n\n{{ $json.response }}"
            }
          ]
        },
        "options": {}
      },
      "id": "32e01820-0114-41e3-b66d-12120c90ef11",
      "name": "Build email raw",
      "type": "n8n-nodes-base.set",
      "position": [
        1648,
        192
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "content": "## Reply draft with OpenAI Assistant\nThis workflow automatically transfers content of incoming email messages with specific labels into OpenAI Assitant and returns reply draft. After draft is composed, trigger label is deleted from the thread.\n\n**Please remember to configure your OpenAI Assistant first.**",
        "height": 189.69151356225348,
        "width": 420.4803040774015,
        "color": 4
      },
      "id": "91862f69-9d62-4148-9945-b6aaa437bc3d",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1008,
        80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Schedule trigger and get emails\nRun the workflow in equal intervals and check for threads with specific labels (trigger labels).",
        "height": 313.3056033573073,
        "width": 451.41125086385614
      },
      "id": "ebf486f5-9ef3-41c5-a803-3de7b44914c4",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -560,
        80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Generate reply\nTransfer email content to OpenAI Assitant and return AI-generated reply.\n",
        "height": 313.7892229150129,
        "width": 381.6458068293894
      },
      "id": "8d0888d6-5d0b-49b4-8658-8349ff1a094b",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        704,
        80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Create HTML message\nConvert incoming Markdown from OpenAI Assistant into HTML content.",
        "height": 314.75072291501283,
        "width": 219.88389496558554
      },
      "id": "86acd4c0-8364-433d-b22e-54ab07e04609",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1344,
        80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Build and encode message\nCreate raw message in RFC standard and encode it into base64 string (please see [Gmail API reference](https://developers.google.com/gmail/api/reference/rest/v1/users.drafts/create) for more details).",
        "height": 314.75072291501283,
        "width": 461.3148409669012
      },
      "id": "6c317e2e-6c18-47dc-a9f0-4055cddb20b6",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1584,
        80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Insert reply draft\nAdd reply draft from OpenAI Assistant to specific Gmail thread.",
        "height": 314.75072291501283,
        "width": 219.88389496558554
      },
      "id": "a6be8b02-e73c-488b-a240-4950590a71cc",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2064,
        80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Remove label\nDelete trigger label from the Gmail thread.",
        "height": 314.75072291501283,
        "width": 219.88389496558554
      },
      "id": "3077fde1-9ed7-4a5f-9907-1f119f6737fa",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2304,
        80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "thread",
        "returnAll": true,
        "filters": {
          "labelIds": []
        }
      },
      "id": "01988c21-39a9-48ac-b97e-deb8b4c71fc2",
      "name": "Get threads with specific labels",
      "type": "n8n-nodes-base.gmail",
      "position": [
        -288,
        192
      ],
      "typeVersion": 2.1,
      "webhookId": "75f2877c-d6fa-4d99-83d9-62274bcae196"
    },
    {
      "parameters": {
        "resource": "assistant",
        "assistantId": {
          "__rl": true,
          "mode": "list",
          "value": "asst_kmKeAtwF2rv0vgF0ujY4jlp6",
          "cachedResultName": "Customer assistant"
        },
        "prompt": "define",
        "text": "={{ $json.text }}",
        "options": {}
      },
      "id": "fabecb26-8b24-4919-b5af-8c602a8ee9f1",
      "name": "Ask OpenAI Assistant",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        768,
        192
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f0513eb5-a6c3-4652-8bb7-24028381be71",
      "name": "Loop over threads",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        -32,
        192
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "get",
        "threadId": "={{ $json.id }}",
        "options": {
          "returnOnlyMessages": true
        }
      },
      "id": "f077e240-1f42-4767-880d-e851932e451f",
      "name": "Get thread messages",
      "type": "n8n-nodes-base.gmail",
      "position": [
        240,
        432
      ],
      "typeVersion": 2.1,
      "webhookId": "00c44f18-c4ad-4885-a893-1239e00cb208"
    },
    {
      "parameters": {
        "keep": "lastItems"
      },
      "id": "ed679802-7fe2-4c17-aede-b4303a01f645",
      "name": "Return last message in thread",
      "type": "n8n-nodes-base.limit",
      "position": [
        464,
        432
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id }}",
        "simple": false,
        "options": {}
      },
      "id": "527cbf3d-a029-44e3-a978-cd35a6e8266c",
      "name": "Get single message content",
      "type": "n8n-nodes-base.gmail",
      "position": [
        240,
        80
      ],
      "typeVersion": 2.1,
      "webhookId": "b3cae63f-1314-4ff8-9219-a1dfdf8c3a07"
    },
    {
      "parameters": {
        "content": "### Return message content\nRetrieve content of the last message in the thread.",
        "height": 314.75072291501283,
        "width": 219.88389496558554
      },
      "id": "eea1bdd5-133f-4666-90b7-f3dff09c4fc5",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        176,
        -48
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Get last message from thread\nReturn all messages for a single thread and pass for further processing only the last one.",
        "height": 314.75072291501283,
        "width": 470.88389496558545
      },
      "id": "b4c8e642-8388-4891-8b84-adbb7d9a7f24",
      "name": "Sticky Note11",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        176,
        304
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "Build email raw": {
      "main": [
        [
          {
            "node": "Convert raw to base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop over threads": {
      "main": [
        [
          {
            "node": "Get single message content",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get thread messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get thread messages": {
      "main": [
        [
          {
            "node": "Return last message in thread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ask OpenAI Assistant": {
      "main": [
        [
          {
            "node": "Map fields for further processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert raw to base64": {
      "main": [
        [
          {
            "node": "Add email draft to thread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert response to HTML": {
      "main": [
        [
          {
            "node": "Build email raw",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule trigger (1 min)": {
      "main": [
        [
          {
            "node": "Get threads with specific labels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add email draft to thread": {
      "main": [
        [
          {
            "node": "Remove AI label from email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get single message content": {
      "main": [
        [
          {
            "node": "Ask OpenAI Assistant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return last message in thread": {
      "main": [
        [
          {
            "node": "Loop over threads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get threads with specific labels": {
      "main": [
        [
          {
            "node": "Loop over threads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map fields for further processing": {
      "main": [
        [
          {
            "node": "Convert response to HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b23af2b3-eb3c-4cee-b718-a1ab15d2a9c0",
  "meta": {
    "instanceId": "a5f9e67ecdbbf3a8bb0a1884f494422634b88089cfa8b573dfa99ee4711105e3"
  },
  "id": "nRAtI3aQLnDLE6xY",
  "tags": []
}